* Estilos para el contenedor principal */
div {
  text-align: center;
  margin: 20px;
}

/* Estilos para el encabezado */
h1 {
  border-bottom: #ccc;
  color: #333;
}

/* Estilos para la lista de jugadores */
ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Estilos para cada elemento de la lista */
li {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  width: 200px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  flex: 1 0 calc(20% - 20px); /* Establece el ancho de cada elemento al 20%, con un margen de 10px */
  box-sizing: border-box;
}

/* Estilos para el nombre del jugador */
h2 {
  margin-top: 0;
  color: #007bff;
}

/* Estilos para la información adicional del jugador */
p {
  margin: 0;
  color: #555;
}
